@font-face {
    font-family: 'kenyan_coffeeregular';
    /*noinspection CssUnknownTarget*/
    src: url('./webfontkit/kenyan-coffee.regular-webfont.woff2') format('woff2'),
    url('./webfontkit/kenyan-coffee.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: auto;
    background-color: black;
}

body {
    min-height: 100%;
    position: relative;
    background-color: black !important;
    font-family: kenyan_coffeeregular, serif !important;
}


h1 span {
    background-color: #F5DE50;
    padding: 0px 10px 0px 10px;
    color: black;
    border-radius: 6px;
    /*font-family: kenyan_coffeeregular, serif;*/
    font-weight: bold;
    font-size: 60px;

}

.butn {
    /*font-family: kenyan_coffeeregular, serif;*/
    font-size: 20px;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    margin-top: 15%;
    padding-top: 100px;
    width: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards {
    display: block;
    margin: auto;
    transform: scale(1);
    transition: transform .5s;
}

.cards:active {
    transform: scale(0.90);
    transition: transform .5s;
}

.cards:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0) !important;
    background: rgba(0, 0, 0, 0.8) !important; /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    /*font-family: kenyan_coffeeregular, serif;*/
    color: yellow !important;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#errorMsg {
    width: 20%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
}

.movieId {
    display: none;
}

.title {
    font-family: kenyan_coffeeregular, serif;
}

.media {
    color: white;
    font-family: "Times New Roman", serif;
}

#page-container {
    padding-bottom: 200px;
    min-height: 100%;
}


footer {
    margin-top: 5%;
    background-color: #F5DE50;
    padding-top: 5px;
    padding-bottom: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

a:link {
    color: black !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link.imdbLink {
    color: #F5DE50 !important;
}