html {
    height: 100%;
    margin: auto;
    background-color: black;
}

body {
    background-color: black !important;
}

@font-face {
    font-family: 'kenyan_coffeeregular';
    /*noinspection CssUnknownTarget*/
    src: url('./webfontkit/kenyan-coffee.regular-webfont.woff2') format('woff2'),
    url('./webfontkit/kenyan-coffee.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
    width: 100%;
}

h1 span {
    background-color: #F5DE50;
    padding: 0px 10px 0px 10px;
    color: black;
    border-radius: 6px;
    font-family: kenyan_coffeeregular, serif;
    font-weight: bold;
    font-size: 60px;

}

.butn {
    font-family: kenyan_coffeeregular, serif;
    font-size: 20px;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    margin-top: 10%;
    padding-top: 100px;
    width: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}